<h1  style="text-align:center" class="mb-4">Showing all articles</h1>

<%= will_paginate @article %>

<%= render "partials/article", obj: @article%>

<%= will_paginate @article%>


<%# <p class="header" style="text-align:center"><%= link_to "create new article", new_article_path, class:"btn btn-success"%></p>