body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.bg-blue {
  background-color: #08088a;
}

.navbar {
  margin-bottom: 2.4%;
}

.navbar-brand {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand:hover {
  color: red;
}

.jumbotron {

  background: #211e1cb3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ontop {
  background-image: url("blog.png");
  background-size: cover;
  margin-bottom: 50px;
}

.nav-link {
  color: white;
}

.center {
  text-align: center;
}

.alpha {
  font-size: 60px;
  color: black;
}

.footer {
  display: flex;
  background-color: #08088a;
  color: white;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  justify-content: space-between;
  margin-top: auto;
}

.mes {
  background-color: green;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.panel {
  background: #eec1c1;
  padding: 20px;
  color: red;
}

.but {
  border-top: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-text {
  margin-bottom: 20px;
}

.card-title {
  font-weight: 30px;
  font-weight: bold;
}

.card {
  background-color: transparent;
}

.cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.small {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.butt {
  display: flex;
  align-items: center;
  gap: 15px;
}

.conto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contor {
  display: flex;
  justify-content: center;
}

.nav-linnk {
  color: white;
  background-color: #08088a;
  border: none;
}

.smalll {
  color: white;
  font-size: 18px;
  margin-top: 60px;
}

.b {
  margin-bottom: 50px;
}

.btnn {
  margin-top: 20px;
}

.second-nav {
  margin-right: 100px;
}

@media (max-width: 768px) {
.second-nav {
  display: none;
}
  .butt,
  .but {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
}